div.A{
    background-color: yellow;
}
div.B{
    background-color: greenyellow;
}
div.C{
    background-color: orange;
}
div.D{
    background-color: orange;
}  
.F{
    background-color: yellow;
    color: blueviolet;
}
div.E{
    background-color: blue;
}